# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode / Apple
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Local logs
*.log
